div.homePage{
    width: 100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
div.centerPosts{
    height: 100%;
    width: 32rem;
    display: grid;
    grid-row-gap: 4rem;
}

